/* Estilos Gerais */

* {
  box-sizing: border-box;

  /* Cores */
  --buzz-red: #EC362D;
  --buzz-grey: #B9B9B9;
  --bg-color: #FAFAFA;
  --text-red: #FF0B0B;
  --text-green: #009C22;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.--cinza {
  border-color: var(--buzz-grey);
  color: var(--buzz-grey);
}

/* Classe para remover elementos da tela */
.--escondido {
  display: none;
}

/* Leitores de tela */
.--sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Estios do Header */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  height: 69px;

  padding: 13px 0;

  background-color: var(--buzz-red);
}

header img {
  max-width: 176px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos principais */

main {
  background-color: var(--bg-color);

  margin-top: 69px;
  padding: 0 17.5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos do container de quizzes */

.quizzes-container {
  width: 100%;
}

.sem-quizzes {
  margin: 31px 0 35px;
  padding: 0 45px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  border-radius: 5px;
  border: 1px dashed var(--buzz-grey) ;

  width: 100%;
  height: 181px;
}

.sem-quizzes button {
  outline: none;
  border: 1px dashed var(--buzz-red);
  border-radius: 50%;

  padding: 10px 12px;

  font-size: 21px;
  color: var(--buzz-red);
}

.quizzes {
  width: 100%;
}

.quizzes li {
  margin-bottom: 14px;
}

.quizzes-titulo {
  font-weight: 700;
}

.quizz {
  width: 100%;
  height: 181px;

  border: none;
  border-radius: 5px;
}

.quizz img {
background-size: contain;
position: relative;
}

.quizz p {
position: absolute;
bottom: 8px;

text-align: center;
}

/* Estilos da página de um quizz */

.cabecalho-do-quizz{
  width: 375px;
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  margin-bottom: 42px;
}
article{
  width: 340px;
  margin:28px auto;
}
.cabecalho-da-pergunta{
  height: 90px;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteudo-das-opcoes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.opcao{
  width: 163px;
  height: 113px;
  background-color: blue;
  margin: 13px 0;
}
.opcao img{
  width: 163px;
  height: 113px;
}
.opcao p{
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  align-items: left;
}

/**Parte de forms*/
.cria-quizz-passo-um{
  display: block;
  width: 375px;
}
.cria-quizz-passo-um h1{
  width: 375px;
  height: 100px;
  background-color: antiquewhite;
  text-align: center;
  padding-top: 37px
}
input{
  width: 341px;
  height: 46px;
  margin: 9px 0;
  padding: 10px;
  font-style: italic;
  font-size: 17px;
  fill-opacity: solid #BABABA;
  font-weight: 400;
  line-height: 100%;
}
.forms{
  display: flex;
  flex-direction: column;
  align-items: center;
}

