/* Estilos Gerais */

* {
  box-sizing: border-box;

  /* Cores */
  --buzz-red: #EC362D;
  --buzz-grey: #B9B9B9;
  --bg-color: #FAFAFA;
  --text-red: #FF0B0B;
  --text-green: #009C22;
  --dark-grey: #818181;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 23.44px;
}

.--cinza {
  border-color: var(--buzz-grey);
  color: var(--buzz-grey);
}

/* Classe para remover elementos da tela */
.--escondido {
  display: none !important;
}

/* Leitores de tela */
.--sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Estios do Header */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 69px;

  padding: 13px 0;

  background-color: var(--buzz-red);
}

header img {
  max-width: 176px;
}

/* Estilos principais */

main {
  background-color: var(--bg-color);

  width: 100%;

  margin-top: 69px;
  padding: 0 17.5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos do container de quizzes */

.quizzes-container {
  width: 100%;
}

.sem-quizzes {
  margin: 31px 0 35px;
  padding: 0 45px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 5px;
  border: 1px dashed var(--buzz-grey);

  width: 100%;
  height: 181px;
  line-height: 23.44px;
}

.sem-quizzes button {
  border: 1px dashed var(--buzz-red);
  border-radius: 50px;
  outline: none;

  padding: 10px 12px;

  font-size: 21px;
  color: var(--buzz-red);

  transition: .7s;

  background-color: transparent;
}

.sem-quizzes button:hover {
  filter: brightness(1.5);
}

.lista-seus-quizzes .quizzes-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quizzes,
.seus-quizzes {
  width: 100%;
}

.quizzes ul,
.seus-quizzes ul {
  height: 100%;
}

.quizzes li,
.seus-quizzes li {
  position: relative;

  margin-bottom: 14px;

  overflow: hidden;
}

.quizzes-titulo {
  font-weight: 700;
  padding-top: 38px;
}

.quizzes-titulo ion-icon {
  font-size: 31px;
  color: var(--buzz-red);
}

.quizz {
  width: 100%;
  height: 181px;

  border: none;
  border-radius: 5px;
}

.quizz-gradiente {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

  width: 100%;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.quizz img {
  width: inherit;
  position: relative;

  border-radius: 5px;
}

.quizz p {
  position: absolute;
  z-index: 2;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 93%;

  text-align: center;
  line-height: 23.44px;
  font-size: 17px;
  color: #fff;
}

/* Estilos da página de um quizz */
.tela-de-perguntas {
  width: 375px;
}

.cabecalho{
  padding: 0 5px;
}

.cabecalho-do-quizz {
  width: 375px;
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--buzz-grey);
  margin-bottom: 42px;
  opacity: 0.6;
  position: relative;
  padding: 10px;
}

.cabecalho-do-quizz img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.cabecalho-do-quizz h1 {
  width: 300px;
  color: white;
  z-index: 2;
  text-align: center;
  white-space: wrap;
}

.cabecalho-gradiente {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

article {
  width: 340px;
  margin: 28px auto;
}

.cabecalho-da-pergunta {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  ;
}

.cabecalho-da-pergunta h1 {
  text-align: center;
  white-space: wrap;
  color: white;
  white-space: wrap;

}

.conteudo-das-opcoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 200px;
  background-color: #FFFFFF;
}

.opcao {
  width: 163px;
  height: 113px;
}

.opcao .imagem {
  width: 100%;
  height: 113px;
}

.gradiente-e-imagem{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imagem img {
  width: 100%;
}

.gradiente-da-opcao {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

  width: 100%;

  background: linear-gradient(rgba(199, 193, 193, 0.659) 0%, rgba(168, 163, 163, 0.686) 64.58%)
}

.texto {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  align-items: left;
  width: 150px;
}

.vermelho {
  color: var(--text-red)
}

.verde {
  color: var(--text-green)
}

.radio {
  width: 8px;
  display: none;
}

/**resultado do quizz*/
.conteudo-final {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultado-do-quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecalho-quatro {
  width: 100%;
  height: 100px;
  background-color: var(--buzz-red);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9px;
  border-radius: 5px;
  ;
}

.texto-do-cabecalho-quatro {
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 9px;
}

.texto-do-cabecalho-quatro h1 {
  width: 300px;
  color: white;
  font-family: 'Roboto';
  white-space: wrap;
}

.imagem-do-resultado {
  width: 100%;
  height: 255px;
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
}

.imagem-do-resultado img {
  width: 100%;
}

.texto-do-resultado {
  width: 100%;
}

.texto-do-resultado h1 {
  width: 100%;
  padding: 9px;
  margin-bottom: 48px;
  text-align: center;
  white-space: wrap;
}

.voltar {
  border: none;
  background-color: var(--bg-color);
  cursor: pointer;
}

/**Parte de inputs*/
.cria-quizz {
  display: block;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cria-quizz>h1 {
  width: 375px;
  padding-top: 37px;
  text-align: center;
  color: #000;
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  font-family: 'Roboto';
}

input {
  width: 341px;
  height: 46px;
  margin: 9px 0;
  padding: 10px;
  font-size: 17px;
  fill-opacity: solid #BABABA;
  font-weight: 400;
  line-height: 100%;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
}

input::placeholder {
  font-style: italic;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 29px 0;
  padding: 25px;
  width: 100vw;
}

.cria-quizz.passo-um .forms {
  background-color: #fff;
}

.cria-quizz form {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 375px;
}

.cria-quizz form textarea {
  width: 341px;
  margin: 9px 0 20px;
  padding: 10px;
  resize: none;

  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 20px;

  border-radius: 5px;
  border: 1px solid #D1D1D1;
  fill-opacity: solid #BABABA;
}

.cria-quizz form textarea::placeholder {
  font-style: italic;
}

.cria-quizz .nivel-1,
.cria-quizz .pergunta-1 {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: #fff;
}

.botao-criacao {
  width: 324px;
  height: 54px;
  margin-bottom: 61px;
  border: none;
  border-radius: 15px;
  background-color: var(--buzz-red);
  cursor: pointer;
}

.botao-criacao p {
  font-size: 16px;
  color: white;
}

.url-incorreto-um, .url-incorreto-dois, .url-incorreto-tres {
  margin-bottom: 32px;
}

label {
  margin-top: 27px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 700;
}

.quizz.--criado {
  position: relative;
  overflow: hidden;

  margin: 40px 0;
}

.fechado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  background-color: white;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  overflow: hidden;
}

.fechado h1 {
  font-weight: 700;
}

.--adicional.fechado {
  margin-bottom: 26px;
  width: 100%;
  background-color: #fff;
  transition: 2s;
}

ion-icon {
  font-size: 30px;
}

.botao-criacao.--sucesso {
  font-size: 18px;
  color: #fff;

}

.cria-quizz.passo-quatro a {
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 18px;
}

/* Media Queries -> Responsividade */

@media (min-width: 1100px) {
  body {
    background-color: var(--bg-color);
  }

  main {
    padding: 0 5px;
    max-width: 1051px;

    margin: 69px auto
  }

  .quizz {
    width: 340px;
    height: 181px;
  }

  .lista-seus-quizzes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
  }

  .lista-seus-quizzes li.quizzes-titulo {
    justify-content: flex-start;
    gap: 12px;
  }

  .quizzes-todos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
  }

  li.quizzes-titulo {
    width: 100%;
  }

  /**parte de perguntas*/
  .tela-de-perguntas {
    width: 100vw;
  }

  .cabecalho-do-quizz {
    width: 100%;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--buzz-grey);
    margin-bottom: 42px;
    opacity: 0.6;
    position: relative;
    padding: 10px;
  }

  .cabecalho-do-quizz img {
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  .cabecalho-do-quizz h1 {
    width: 1000px;
    color: white;
    z-index: 2;
    text-align: center;
    white-space: wrap;
    font-size: 30px;
  }

  .cabecalho-gradiente {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;

    width: 100vw;

    background-color: rgba(0, 0, 0, 0.604);
  }

  article {
    width: 50%;
    margin: 28px auto;
  }

  .cabecalho-da-pergunta {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    ;
  }

  .cabecalho-da-pergunta h1 {
    text-align: center;
    white-space: wrap;
    color: white;
    white-space: wrap;
    font-size: 25px;
  }

  .conteudo-das-opcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
  }
<<<<<<< HEAD
  
  .gradiente-e-imagem{
=======

  .opcao {
    width: 350px;
    height: 175px;
  }

  .opcao .imagem {
    width: 100%;
>>>>>>> b54b061fde2a625a4aff73feeb5285167189e5e8
    position: relative;
    width:100%;
    overflow: hidden;
  }

<<<<<<< HEAD
  .opcao{
    width: 250px;
    height: 200px;
  }

=======
>>>>>>> b54b061fde2a625a4aff73feeb5285167189e5e8
  .imagem img {
    width: 100%;
    max-width: 100%;
  }

  .gradiente-da-opcao {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;

    width: 100%;
<<<<<<< HEAD
  
=======
    height: 197px;

>>>>>>> b54b061fde2a625a4aff73feeb5285167189e5e8
    background-color: rgba(255, 255, 255, 0.549);
  }

  .texto {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    align-items: left;
    width: 150px;
  }

  .vermelho {
    color: var(--text-red)
  }

  .verde {
    color: var(--text-green)
  }

  .radio {
    width: 8px;
    display: none;
  }

  /**resultado do quizz*/
  .conteudo-final {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resultado-do-quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cabecalho-quatro {
    width: 100%;
    height: 100px;
    background-color: var(--buzz-red);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 9px;
    border-radius: 5px;
    ;
  }

  .texto-do-cabecalho-quatro {
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 9px;
  }

  .texto-do-cabecalho-quatro h1 {
    width: 300px;
    color: white;
    font-family: 'Roboto';
    white-space: wrap;
    text-align: center;
  }

  .imagem-do-resultado {
    width: 100%;
    height: 255px;
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
  }

  .imagem-do-resultado img {
    width: 100%;
  }

  .texto-do-resultado {
    width: 100%;
  }
  .texto-do-resultado h1{
    overflow: hidden;
    padding:9px;
    margin-bottom: 48px;
    text-align: center;
    white-space: wrap;
  }

  .voltar {
    border: none;
    background-color: var(--bg-color);
    cursor: pointer;
  }

  /* Tela 3 -> Parte 1 (infos básicas) */
  .forms {
    max-width: 600px;
  }

  .forms input {
    width: 100%;
  }

}